@import url('https://fonts.googleapis.com/css2?family=Lato&display=swap');





/*----Nave bar Styling ---*/

nav ul {
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
}

nav li {
  font-size: 1.2em;
  line-height: 40px;
  height: 40px;
  display: inline-block;
  margin-left: 2.5%;
}
 
nav a {
  text-decoration: none;
  color: #fff;
  display: block;
}

nav a:hover {
  background-color: #fff;
  color: #3030ee;
}


/* ---Text Properties---*/
h4{

  font-family: 'lato', 'sans-serif';
  color: black;
  font-size: 55px;
  text-align: center;

  margin: 0;
  position: absolute;
  top: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);

}


/*--------card content allignment---*/


.centerbutton {
  margin: 0;
  position: absolute;
  top: 86%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}

.linkposition{
    font-size: 22px;
    color: black;
    margin: 0;
    position: absolute;
    top: 65%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }


/*------------------cards */


.content{
  display: grid;
  place-content: centre;
}

.corners{
  border-radius: 10px;
}

.maincontainer{
  position: relative;
  width: 250px;
  height: 320px;
  border-radius: 10px;
  padding: 10px;
  
}



.thecard{
  position: relative;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  transform-style: preserve-3d;
  transition: all 0.8s ease;
 
}

.backflip{
  transform: rotateY(180deg);
}

.thefront{
  position: absolute;
  border: 1px;
  border-style: solid;
  width: 100%;
  height: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  color:#333;
}


.theback{
  position: absolute;
  border: 1px;
  border-style: solid;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  background-color: #ffc728;
  color:#333;
  transform: rotateY(180deg);

}

/*--------Expanding Cards----------------*/

.bodybox {
  font-family: 'Muli', 'sans-serif';
  display: flex;
  align-items: center;
  justify-content: center;
  height: 75vh;
  overflow: hidden;
  margin: 0;
}

.container{
  display: flex;
  width: 90vw;
}

.panel {
  background-size: auto 100%;
  background-position: center;
  background-repeat: no-repeat; 
  height: 80vh;
  border-radius: 50px;
  color: black;
  cursor: pointer;
  flex: 0.5;
  margin: 10px;
  position: relative;
  transition: flex 0.7s ease-in;
  text-orientation: sideways-right;

    
}

.panel h3{
  font-size: 24px;
  position: absolute;
  bottom: 20px;
  left: 20px;
  margin: 0;
  opacity: 1;
  text-orientation: sideways-right;
  transform: rotate(-90deg);
  border: black;
  border:3px;
  

}

.panel.active{
flex: 5;
}

.panel.active h3 {
opacity: 1;
transition: opacity 0.3s ease-in 0.4s;
}

@media (max-width:480px){
  .container{
    width: 100vw;
  }

  .panel:nth-of-type(4),
  .panel:nth-of-type(5){
    display: none;
  }

}



/*------------------------------footer */


.social-networks { 
    text-align: center;
}

.social-networks, li {   
    display: inline;
}

.social-networks, i {
    font-size: 32px;
    margin: 1%;
    padding: 1%;
    color:#696666;
    
}

.ptext{
    color:#696666;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    font-size: 16px;
    padding: 1px;
}

.makerlink{
    color:black;
    text-align: center; 
    font-family: 'karla', 'sans-serif' ;
    font-size: 16px;

}
